---
import { SEO } from 'astro-seo';
import type { CollectionEntry } from 'astro:content';
import ContainerLayout from '../../layouts/container-layout.astro';
import { getCollection } from 'astro:content';

interface Props {
  entry: CollectionEntry<'note'>;
}

export async function getStaticPaths() {
  const noteEntries = await getCollection('note');
  return noteEntries.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}

const { entry } = Astro.props;
const { Content } = await entry.render();

const metaData = {
  title: `${entry.data.title.toLowerCase()} | alireza ahmadi`,
  ogImage: `https://alireza.es/opengraph/${entry.slug}.png`,
  description: entry.data.shortDesc
    ? entry.data.shortDesc
    : `the personal website of alireza ahmadi`,
  url: `https://alireza.es/notes/${entry.slug}`,
};
---

<ContainerLayout isInternalPage>
  <SEO
    slot="head"
    title={metaData.title}
    description=""
    openGraph={{
      basic: {
        title: metaData.title,
        type: 'website',
        image: metaData.ogImage,
        url: metaData.url,
      },
    }}
    twitter={{
      creator: '@alireza94',
    }}
    extend={{
      meta: [
        {
          name: 'twitter:image',
          content: metaData.ogImage,
        },
        {
          name: 'twitter:image:alt',
          content: metaData.title,
        },
        {
          name: 'twitter:card',
          content: 'summary_large_image',
        },
        { name: 'twitter:title', content: metaData.title },
        {
          name: 'twitter:description',
          content: metaData.description,
        },
      ],
    }}
  />
  <a href={`/notes/${entry.slug}`} transition:name={`title-${entry.slug}`}
    ><h2
      class="font-semibold font-heading text-4xl mt-10 mb-10 underline decoration-4 underline-offset-4 text-balance"
    >
      {entry.data.title}
    </h2>
  </a>
  <article
    class:list={[
      'prose',
      'prose-p:font-body',
      'text-bay-of-many-950 font-[450]',
      'prose-headings:text-bay-of-many-950 prose-headings:font-semibold prose-headings:font-heading',
      'prose-h1:mb-4 prose-h1:text-4xl',
      'prose-h2:mb-3 prose-h2:mt-6 prose-h2:text-3xl',
      'prose-h3:mb-2 prose-h3:mt-4 prose-h3:text-2xl',
      'prose-h4:mb-2 prose-h4:mt-4 prose-h4:text-xl',
      'prose-h5:mb-1 prose-h5:mt-3 prose-h5:text-lg',
      'prose-h6:mb-2 prose-h6:mt-4 prose-h6:text-lg prose-h6:opacity-80',
      'prose-li:marker:text-thistle-600 prose-li:marker:text-lg prose-li:marker:font-semibold',
      'prose-a:underline prose-a:decoration-2 prose-a:underline-offset-2 prose-a:text-bay-of-many-800',
      'visited:prose-a:text-thistle-800 hover:prose-a:text-thistle-700',
      'prose-p:text-balance',
      'prose-strong:text-bay-of-many-950 prose-strong:font-semibold',
      'prose-hr:border-bay-of-many-700/30 prose-hr:border-t-2 prose-hr:border-dashed prose-hr:my-8 prose-hr:opacity-70',
      'prose-blockquote:text-bay-of-many-950 prose-blockquote:font-medium prose-blockquote:font-heading prose-blockquote:italic',
      'prose-blockquote:pl-4 prose-blockquote:my-8 prose-blockquote:border-l-4 prose-blockquote:border-thistle-600',
    ]}
  >
    <Content />
  </article>
</ContainerLayout>
